<div class="episodio">
    <div class="episodio-header" role="tab" id="heading-<%=episodio['episode_id']%>">
      <h5 class="mb-0">
        <a data-toggle="collapse" 
           data-parent="#accordion" 
           href="#collapse-<%=episodio['episode_id']%>" 
           aria-expanded="false" 
           aria-controls="collapse-<%=episodio['episode_id']%>">

           <%= episodio['episode_id'].to_s + " : " + episodio['title']%>
           
        </a>
      </h5>
    </div>

    <div id="collapse-<%=episodio['episode_id']%>" 
        class="collapse" 
        role="tabpanel" 
        aria-labelledby="heading-<%=episodio['episode_id']%>">

      <div class="episodio-block">
      </div>
    </div>
</div>


<div id="ep_ + <%= episodio['episode_id'] %>" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> <%= episodio['title'] %> </h5>
    <h6 class="card-subtitle mb-2 text-muted">Temporada: <%= episodio, ['season'] %></h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <% episodio['characters'].each do |char|%>
      <a href="#" class="card-link"><%= char%> </a>
  </div>
</div>