
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="temporada-<%=index%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= 'Temporada ' + index %>
  </button>
  <div class="dropdown-menu" aria-labelledby="temporada-<%=index%>">
    <% season.each do |episode| %>
        <a class="dropdown-item" href="<%= '/episodes/' + episode['episode_id'].to_s %>"> <%= episode['title'] %> </a>
        <% end %>
  </div>
</div>